#aviso{
    color: rgb(2, 2, 3);
}
.titulo{
    border-radius: 10px 20px;
    background-size: cover;
    color: rgb(0, 0, 0);
}
.fundo{
    background-color: rgb(177, 105, 22)!important;
}
ion-button{
    
}

 