ion-content{
    background: rgb(12, 12, 12)
}


ion-img{
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 186px;
}



.hr {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
    }

.h1{
    text-align:center;
}   

