<ion-header>

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home-cliente"></ion-back-button>
  
      </ion-buttons>
      <ion-buttons slot="secondary">
        <ion-button (click)="logoff()" placeholder="Logar">
          <ion-icon color="danger" slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title style="text-align:center;font-size:25px;">Sugestões de Suplementos </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="background" >
  
      <h1> Nivel Iniciante </h1>
    <h3> *6 meses </h3>
  
    <ion-col>
      <p>
        <ion-img src="../assets/5.png" style="width:100; height:100px;"></ion-img>Whey Protein. A ingestão é recomendada
        entre 15 e 30 minutos antes e depois de iniciar os exercícios.
      </p>
    </ion-col>
  
    <ion-col>
      <p>
        <ion-img src="../assets/6.png" style="width:100; height:100px;"></ion-img>Creatina. suplementação é feita com
        cerca de 2 a 5 gramas de creatina por dia
      </p>
    </ion-col>
  
  
    <ion-col>
      <p>
        <ion-img src="../assets/9.png" style="width:100; height:100px;"></ion-img>BCAA. O ideal recomendado é consumir
        de 4g a 6g de BCAA, antes e depois dos exercícios mais intensos.
      </p>
    </ion-col>
  
  
    <div class="hr"></div>
  
  
  
  
    <h1> Nivel Intermediário </h1>
    <h3> *1 ano </h3>
  
  
    <ion-col>
      <p>
        <ion-img src="../assets/5.png" style="width:100; height:100px;"></ion-img>Whey Protein. A ingestão é recomendada
        entre 15 e 30 minutos antes e depois de iniciar os exercícios.
      </p>
    </ion-col>
  
    <ion-col>
      <p>
        <ion-img src="../assets/6.png" style="width:100; height:100px;"></ion-img>Creatina. suplementação é feita com
        cerca de 2 a 5 gramas de creatina por dia
      </p>
    </ion-col>
  
    <ion-col>
      <p>
        <ion-img src="../assets/9.png" style="width:100; height:100px;"></ion-img>BCAA. O ideal recomendado é consumir
        de 4g a 6g de BCAA, antes e depois dos exercícios mais intensos.
      </p>
    </ion-col>
  
    <ion-col>
      <p>
        <ion-img src="../assets/32.jpg" style="width:100; height:100px;"></ion-img>Tribulus. Nos dias de treino, tome uma
        dose de 500-800 mg (em cápsula ou em pó) logo ao acordar e outra porção 30-60 minutos antes do treino.
      </p>
    </ion-col>
  
    <ion-col>
      <p>
        <ion-img src="../assets/33.png" style="width:100; height:100px;"></ion-img>Omega3. Para quem tem triglicérides
        alto,
        acima de 500 mg/dl, recomenda-se a suplementação de 2 a 4 gramas de ômega-3 por dia
      </p>
    </ion-col>
  
  
    <div class="hr"></div>
  
  
  
    <h1> Nivel Avançado </h1>
    <h3> *2 anos </h3>
  
    <ion-col>
      <p>
        <ion-img src="../assets/5.png" style="width:100; height:100px;"></ion-img>Whey Protein. A ingestão é recomendada
        entre 15 e 30 minutos antes e depois de iniciar os exercícios.
      </p>
    </ion-col>
  
    <ion-col>
      <p>
        <ion-img src="../assets/6.png" style="width:100; height:100px;"></ion-img>Creatina. suplementação é feita com
        cerca de 2 a 5 gramas de creatina por dia
      </p>
    </ion-col>
  
    <ion-col>
      <p>
        <ion-img src="../assets/9.png" style="width:100; height:100px;"></ion-img>BCAA. O ideal recomendado é consumir
        de 4g a 6g de BCAA, antes e depois dos exercícios mais intensos.
      </p>
    </ion-col>
  
    <ion-col>
      <p>
        <ion-img src="../assets/33.png" style="width:100; height:100px;"></ion-img>Omega3. Para quem tem triglicérides
        alto,
        acima de 500 mg/dl, recomenda-se a suplementação de 2 a 4 gramas de ômega-3 por dia
      </p>
    </ion-col>
  
    <ion-col>
      <p>
        <ion-img src="../assets/17.png" style="width:100; height:100px;"></ion-img>Hipercalorico. irá ser de grande
        auxilio
        para uma boa recuperação muscular. Com isso tanto no pré-treino e pós-treino é ositivo tomar.
      </p>
    </ion-col>
  
    <ion-col>
      <p>
        <ion-img src="../assets/55.jpg" style="width:100; height:100px;"></ion-img>Tribulus. Nos dias de treino, tome uma
        dose de 500-800 mg (em cápsula ou em pó) logo ao acordar e outra porção 30-60 minutos antes do treino.
      </p>
    </ion-col>
  
    <ion-col>
      <p>
        <ion-img src="../assets/16.png" style="width:100; height:100px;"></ion-img>Termogênico. Recomendo o seu uso longe
        do
        período de treino e longe do horário de dormir 6 horas antes.
      </p>
    </ion-col>
  
    <ion-col>
      <p>
        <ion-img src="../assets/77.png" style="width:100; height:100px;"></ion-img>Glutamina. Quando a escolha é de tomar
        após os treinos, o consumo pode ser feito em até 50 minutos depois das atividades
      </p>
    </ion-col>
  
  
    <div class="hr"></div>
  
  
  
  </ion-content>