
<ion-header>


  <ion-toolbar >
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home-cliente"></ion-back-button>
        
      </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="logoff()" placeholder="logoff">
        <ion-icon color="danger" slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title style="text-align:center;font-size:25px;margin-left:10px; ">{{loja.nome}}</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button>
          <ion-icon name="add-circle" color="dark"></ion-icon>
          <ion-label (click)="cadProdutos()" color="dark">Cadastro de Produtos</ion-label>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="stats" color="dark"></ion-icon>
          <ion-label (click)="imc()" color="dark">Imc</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>


</ion-header>

<ion-content>

    

    <img src="{{imagem}}">

    <ion-item>
        <input type="file" (change)="enviaArquivo($event)"/>
    </ion-item>

    <form [formGroup]="formGroup">

      <ion-list>
  
        <ion-item>
          <ion-label floating>Nome</ion-label>
          <ion-input formControlName="nome" type="text"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>Telefone</ion-label>
          <ion-input formControlName="telefone" type="text"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>E-mail</ion-label>
          <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>CNPJ</ion-label>
          <ion-input formControlName="cnpj" type="text"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label floating>Endereço</ion-label>
          <ion-input formControlName="endereco" type="text"></ion-input>
        </ion-item>

      </ion-list>
  
      <ion-button expand="full" (click)="atualizar()">Atualizar</ion-button>
  
    </form>

</ion-content>
