<ion-header>


  <ion-toolbar >
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home-cliente"></ion-back-button>
        
      </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="logoff()" placeholder="logoff">
        <ion-icon color="danger" slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title style="text-align:center;font-size:25px;margin-left:10px; ">{{loja.nome}}</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button>
          <ion-icon name="add-circle" color="dark"></ion-icon>
          <ion-label (click)="cadProdutos()" color="dark">Cadastro de Produtos</ion-label>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="stats" color="dark"></ion-icon>
          <ion-label (click)="imc()" color="dark">Imc</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>


</ion-header>

<ion-content>
 <!--
    

    <img src="{{imagem}}">

    <ion-item>
        <input type="file" (change)="enviaArquivo($event)"/>
    </ion-item>

    <form [formGroup]="formGroup">

      <ion-list>
  
        <ion-item>
          <ion-label floating>Nome</ion-label>
          <ion-input formControlName="nome" type="text"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>Telefone</ion-label>
          <ion-input formControlName="telefone" type="text"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>E-mail</ion-label>
          <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>CNPJ</ion-label>
          <ion-input formControlName="cnpj" type="text"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label floating>Endereço</ion-label>
          <ion-input formControlName="endereco" type="text"></ion-input>
        </ion-item>

      </ion-list>
  
      <ion-button expand="full" (click)="atualizar()">Atualizar</ion-button>
  
    </form>
  -->

  <form [formGroup]="formGroup">

  <div class="container">
      <div class="row profile">
      <div class="col-md-3">
        <div class="profile-sidebar">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-userpic" style="margin-top:40px;margin-bottom:50px;">
              <img src="{{imagem}}" style="border-radius: 1500px 1500px 0px;border:solid 2px #000;  ">
              <input type="file" (change)="enviaArquivo($event)"/>
          </div>
          <div class="hr"></div>
          <!-- END SIDEBAR USERPIC -->
          <!-- SIDEBAR USER TITLE -->
          <div class="profile-usertitle" style="margin-bottom:50px;">
            <div class="profile-usertitle-name">
                <ion-label floating>Nome:</ion-label>
                <input formControlName="nome" type="text" class="form-control"  style="border-radius: 20px;">
            </div>
            <div class="profile-usertitle-job">
                <ion-label floating>Telefone</ion-label>
                <input formControlName="telefone" type="text" class="form-control"  style="border-radius: 20px;">
            </div>
            <div class="profile-usertitle-job">
                <ion-label floating>E-mail:</ion-label>
          <input formControlName="email" type="text" class="form-control"  style="border-radius: 20px; ">
            </div>
            <div class="profile-usertitle-job">
                <ion-label floating>CNPJ:</ion-label>
                <input formControlName="cnpj" type="text" class="form-control"  style="border-radius: 20px; ">
            </div>
            <div class="profile-usertitle-job">
                <ion-label floating>Endereço:</ion-label>
                <input formControlName="endereco" type="text"class="form-control" style="border-radius: 20px;"> 
            </div>
          </div>
          <!-- END SIDEBAR USER TITLE -->
          <!-- SIDEBAR BUTTONS -->
          <div class="profile-userbuttons">
              <button expand="full" (click)="atualizar()" class="btn btn-success btn-block">Atualizar</button>
          </div>
          <div class="hr"></div>
          <!-- END SIDEBAR BUTTONS -->
          <!-- SIDEBAR MENU -->
      
          <!-- END MENU -->
        </div>
      </div>
      <div class="col-md-9">
             
      </div>
    </div>
  </div>
  </form>

</ion-content>