<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Creatina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-row > 
    
    <ion-searchbar #textoBusca animated placeholder="Procurar" debounce="500" (ionChange)="busca()" ></ion-searchbar>


    <ion-col *ngFor="let creatina of listaCreatina" >
      <ion-card >
        <img width="80%" src="{{creatina?.img}}">
        <ion-button size="small">{{creatina?.nome}}</ion-button>
        <ion-card-subtitle>{{creatina?.preco}}</ion-card-subtitle>
      </ion-card>
    </ion-col>

  </ion-row>

</ion-content>