<ion-header class="fadeIn">


  <ion-toolbar>

    <ion-buttons slot="secondary">
      <ion-button (click)="logar()" placeholder="Logar">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align:center;font-size:25px;">SHAPE MIN.</ion-title>
  </ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-icon name="sunny"></ion-icon>
        <ion-label>Tab1</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab2">
        <ion-icon name="sunny"></ion-icon>
        <ion-label>Tab2</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab3">
        <ion-icon name="moon"></ion-icon>
        <ion-label>Tab3</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <!--
  <ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="cadastrarLoja()" placeholder="Cadastre sua loja">
          <p>
            <ion-icon name="contacts"></ion-icon>Cadastre sua loja
          </p>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="logar()" placeholder="Logar">
          <p>
            <ion-icon name="contact"></ion-icon>Logar
          </p>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="1">
        <ion-button (click)="CalculeSuaIMC()" placeholder="imc">
          <p>
            <ion-icon name="podium"></ion-icon>IMC
          </p>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-item>
-->
</ion-header>

<ion-content padding class="fadeIn">


  <ion-slides pager="true" [options]="slideOptsOne ">
    <ion-slide *ngFor="let slide of slides">
      <div>
        <img [src]="slide.img">
      </div>
      <div>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-searchbar #textoBusca animated debounce="500" (ionChange)="busca()" ></ion-searchbar>

  <ion-item *ngIf="produtoMenor.nome!=undefined">
    <ion-thumbnail slot="start" >
      <img  src="{{produtoMenor.img}}">
    </ion-thumbnail>
    <ion-label >{{produtoMenor.nome}}</ion-label>
    <ion-label >{{produtoMenor.preco}}</ion-label>
    <ion-button (click)="presentModal(produtos)">Show Modal</ion-button>
  </ion-item> 


  <ion-item *ngIf="lP.nome!=undefined">
    <ion-thumbnail slot="start" >
      <img  src="{{lP.img}}">
    </ion-thumbnail>
    <ion-label >{{lP.nome}}</ion-label>
    <ion-label >{{lP.preco}}</ion-label>
  </ion-item> 

    <!-- <ion-item *ngFor="let busca of listaDeProduto">
      <ion-thumbnail slot="start">
        <img src="{{busca?.img}}">
      </ion-thumbnail>
      <ion-label>{{busca?.nome}}</ion-label>
      <ion-label>{{busca?.preco}}</ion-label>

    </ion-item> -->
   
    <ion-item *ngFor="let lista of pL">
      <ion-thumbnail slot="start">
        <img src="{{lista?.img}}">
      </ion-thumbnail>
      <ion-label>{{lista?.nome}}</ion-label>
      <ion-label>{{lista?.preco}}</ion-label>
    </ion-item>


  <div class="hr"></div>
  <ion-row size-md class="centralizarTexto">
    <ion-col>
      <ion-img src="../assets/78.jpg"></ion-img>
      <ion-button color="dark" shape="round" expand="block" size="small" (click)="whey()">Whey Protein</ion-button>
    </ion-col>
    <ion-col>
      <ion-img src="../assets/9.jpg"></ion-img>
      <ion-button color="dark" shape="round" expand="block" size="small" (click)="bcaa()"> BCAA </ion-button>
    </ion-col>
  </ion-row>
  <div class="hr"></div>
  <ion-row size-md class="centralizarTexto">
    <ion-col>
      <ion-img src="../assets/6.jpg"></ion-img>
      <ion-button color="dark" shape="round" expand="block" size="small" (click)="creatina()"> Creatine </ion-button>
    </ion-col>
    <ion-col>
      <ion-img src="../assets/55.jpg"></ion-img>
      <ion-button color="dark" shape="round" expand="block" size="small" (click)="tribulus()"> tribulus </ion-button>
    </ion-col>
  </ion-row>
























  <!-- 
  <ion-slides pager="true" autoplay="true" style="width: 200px; height: 200px;" [options]="slideOpts">
    <ion-slide>
      <ion-img src="../assets/2.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../assets/3.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../assets/4.png"></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-searchbar></ion-searchbar>

  <ion-row>
    <ion-col>
      <ion-img style="width: 150px; height: 150px;" src="../assets/5.jpg"></ion-img>
      <ion-button size="small" (click)="whey()">Whey Protein</ion-button>
    </ion-col>

    <ion-col>
      <ion-img style="width: 150px; height: 150px;" src="../assets/6.png"></ion-img>
      <ion-button size="small" (click)="bcaa()"> BCAA </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-img style="width: 150px; height: 150px;" src="../assets/7.png"></ion-img>
      <ion-button size="small" (click)="creatina()"> Creatine </ion-button>
    </ion-col>

    <ion-col>
      <ion-img style="width: 150px; height: 150px;" src="../assets/8.jpg"></ion-img>
      <ion-button size="small" (click)="tribulus()"> tribulus </ion-button>
    </ion-col>
  </ion-row>


  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button>
      <ion-icon name="aperture"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button href="https://pt-br.facebook.com/">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="https://www.instagram.com/?hl=pt-br">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="https://twitter.com/login?lang=pt">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="https://www.youtube.com/">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>



  </ion-fab>

-->

</ion-content>